* {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
}

html {
  font-size: 20px;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 34px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 26px;
}

h5 {
  font-size: 22px;
}

h6 {
  font-size: 18px;
}

p {
  font-size: 20px;
}

header {
  display: flex;
  height: 2rem;
  justify-content: space-between;
  margin: 0.5rem;
}

.logo-container {
  width: 2rem;
  height: 2rem;
  display: flex;
}

.logo-container img {
  max-width: 100%;
  max-height: 100%;
}

.logo-container span {
  align-self: center;
  margin: 0.5rem;
}

nav a {
  margin: 0.5rem;
  color: gray;
}

.banner {
  display: flex;
  background-image: url("./images/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
}

.banner-card {
  width: 65%;
  height: 300px;
  background-color: black;
  color: whitesmoke;
  margin: 100px auto;
  opacity: 0.8;
}

.banner-card h1 {
  text-align: center;
  margin-top: 50px;
}

.banner-card p {
  text-align: center;
  margin-top: 25px;
}

.products {
  display: flex;
  margin-top: 20px;
  height: 50vh;
}

.product-card {
  margin: 10px;
  display: flex;
  width: 25%;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.product-card h1 {
  background-color: white;
  opacity: 0.8;
  width: 100%;
  flex-grow: 1;
  text-align: center;
}

.front-bumper {
  background-image: url("./images/front-bumper.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.rear-bumper {
  background-image: url("./images/rear-bumper.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.spoiler {
  background-image: url("./images/spoiler.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.exhaust {
  background-image: url("./images/exhaust.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.epmloyees {
  display: flex;
  margin-top: 20px;
  justify-content: space-around;
  align-content: center;
}

.employee-card {
  width: 20%;
  margin: 10px;
  box-sizing: border-box;
}

.top-image {
  border: 10px solid red;
  height: 65%;
  width: 100%;
  box-sizing: border-box;
  border-radius: 10px;
}

.top-image img {
  width: 100%;
  height: 100%;
}

footer {
  display: flex;
  height: 3rem;
  align-items: center;
  margin: 20px;
  background-color: gray;
}
